
@media (max-width: 1440px) {
	.slider .slider-head {
	    margin-bottom: 40px;
	}
	.slider ul li:not(:last-of-type) {
	    margin-bottom: 20px;
	}

	.slide-img.poa img {
		max-height: 400px;
	}

	.slide-img.poa {
		margin-top: 40px!important;
	}
}

@media (max-width: 1200px) {

	.popup-youtube {
		bottom: -100px;
	}
	.slide-img.poa img {
		max-width: 100%;
		max-height: 100%;
	}
	body.full-height:after {
		display: none;
	}

	.slider + .panel {
		align-items: center;
		position: fixed;
		bottom: 0;
		padding: 10px 50px 20px;
		margin-bottom: 0;
		left: 0;
		right: 0;
		z-index: 1;
	}

	.panel .blur {
		display: block;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: rgba(8, 18, 32,.5);
		backdrop-filter: blur(10px);
		z-index: -1;
	}

	.progress {
		position: fixed;
		bottom: 5px;
		left: 15px;
		right: 15px;
		width: auto;
		z-index: 2;
	}

	.slider__label {
		transform: rotate(0deg);
	}

	header {
		margin-bottom: 20px;
	}

	.slider {
	    margin: 30px auto 120px;
	}

	.slider__label {
		font-size: 42px;
	}
	.full-height header {
		margin-bottom: 40px;
	}

	.slider .descr {
		font-size: 16px;
	}

	.slider .slider-head {
		margin-bottom: 60px;
	}

	body.full-height {
		padding-bottom: 0;
	}
}

@media (max-width: 992px) {
.full-height header {
	margin-bottom: 40px;
}
header .nav-menu {
	display: none;
}

header .header-btn {
	display: none;
}
header .btn-menu {
	display: block;
}
h1 {
	font-size: 34px;
	line-height: 38px;
}

.contact-us .title {
	justify-content: center;
}

.contact-us .descr {
	text-align: center;
	margin: 0 auto 60px;
}
.contact-us .links a {
	text-align: center;
}

.contact-us form button[type=submit] {
	justify-content: center;
	margin: 0 auto;
}

.contact-us form {
	max-width: 400px;
	margin: 0 auto;
}

.contact-us form .checkbox label {
	font-size: 16px;
}

.contact-us form .checkbox {
	margin-bottom: 50px;
}
.contact-us form div.in label {
	font-size: 16px;
}
.contact-us form div.in input {
	font-size: 18px;
}

body.full-height:after {
	display: none;
}

.slider {
	max-height: inherit;
}

.slide-img {
	width: 125px;
	height: 125px;
	border-radius: 50%;
	overflow: hidden;
	background-color: #091424;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 15px;
	box-shadow: 0px 4px 20px rgba(30, 100, 202, 0.15);
}

.slide-img.poa img {
	box-shadow: none;
}

.slide-img.poa {
	padding: 10px 0 0;
}

.slide-img.poa img {
	position: static;
	max-width: 100%;
}

.popup-youtube {
	display: none;
}

.hidden-btn {
	display: block;
}

.slider ul li {
	margin-bottom: 30px;
}

.slick-slide .slide-img img {
		max-height: 100%;
}

.poa1 img {
	position: relative!important;
	left: -13px;
}

.poa2 img {
	position: relative!important;
	left: 6px;
}

.slide-img.poa {
	margin-top: 0px!important;
}

.slick-slide {
	margin-top: 0!important;
}

}

@media (max-width: 768px) {
	.full-height header {
	    margin-bottom: 40px;
	}
	.contact-us .title {
		font-size: 34px;
		line-height: 120%;
	}

	.contact-us .descr {
		font-size: 18px;
	}

	.contact-us .links a {
		font-size: 18px;
	}

	.main h1 + .descr {
		margin: 0 auto 70px;
	}

	.slider .slider-head {
		margin-bottom: 50px;
	}

	.slider .title {
		font-size: 30px;
		margin-bottom: 20px;
		text-align: center;
	}
	.slider .title.small {
	    font-size: 20px;
	}

	.slider .descr {
		font-size: 12px;
		text-align: center;
	}

	.slider ul li {
		font-size: 12px;
		line-height: 130%;
	}

	.arrows > div:first-child {
		margin-right: 40px;
	}

	.slider__label {
		font-size: 32px;
		transform: rotate(0);
	}

	.popup-youtube {
		display: none;
	}

	.slider {
		max-width: 500px;
	    margin: 0px auto 77px;
	}

	header {
		padding-top: 20px;
	}

	.slider + .panel {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		padding: 10px 15px 20px;
		margin-bottom: 0;
		justify-content: center;
	}

	.panel .blur {
		display: block;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: rgba(8, 18, 32,.5);
		backdrop-filter: blur(10px);
		z-index: -1;
	}

	.progress {
		position: fixed;
		bottom: 5px;
		left: 15px;
		right: 15px;
		width: auto;
	}
	.slider + .panel .arrows {
		margin-right: 100px;
	}

	.contact-us form .checkbox label {
		font-size: 14px;
	}

	.main .product .product-img {
		max-width: 300px;
		margin: 0 auto 30px;
	}
	.main .product .product-img img {
		max-width: 100%;
		max-height: 200px;
		display: block;
	}
	.main .product .product-img:after {
		display: none;
	}
	.main {
		text-align: center;
	}

	.main .product .subtitle {
		margin: 0 auto 12px;
	}

	.main .product ul {
		max-width: 400px;
		margin: 0 auto 30px;
	}

	.main .product {
	    margin-bottom: 100px;
	}
}

@media (max-width: 480px) {
	.slider + .panel {
		justify-content: space-between;
	}
	.slider + .panel .arrows {
		margin-right: 0px;
	}

	.main .product .product-img {
		max-width: 200px;
	}
	.main .product .product-img img {
		max-height: 180px;
	}

	.c span {
		font-size: 10px;
		padding: 5px 0;	
		text-align: left;
		height: 38px;
	}

	.c span.small {
		font-size: 8px;
	}

	.c-title {
		padding-left: 5px;
	}

	.c-title span {
		font-size: 10px;
	}

	.c {
		padding-left: 5px;
	}

	.c-head span {
		font-size: 12px;
		height: initial;
		padding: 10px 0;
	}

	body:before {
		display: none;
	}

	body > .container:first-child:before {
		display: none;
	}

	body > .container:first-child {
		position: static;
		min-height: inherit;
	}

	body > .container:first-child:after {
		display: none;
	}

}

@media (max-width: 375px) {
	.main .product ul li {
		font-size: 12px;
	}
}

@media (max-width: 320px) {

}
